//Placeholder for buttons
%btn {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-bottom: 1em;
}

.btn {
    @extend %btn;
    margin-top: 15px;
    width: 100%;
    padding: 10px 0;
}

.default {
  @include button(map-get($ui-color, 'default' ));
}

.error {
  @include button(map-get($ui-color, 'error' ));
}

.info {
  @include button(map-get($ui-color, 'info' ));    
}

.success {
  @include button(map-get($ui-color, 'success' ));  
}

.warning {
  @include button(map-get($ui-color, 'warning'));  
}